# API Keys - create a copy of this file named '.env' and fill in your actual keys
WANDB_API_KEY=ea17042344c3491335297c7b69fd9ef2418e23f5
WANDB_ENTITY=vishaljain
WANDB_PROJECT=stain-detector

# Add other API keys as needed
# OPENAI_API_KEY=your_openai_api_key_here
# AWS_ACCESS_KEY=your_aws_access_key_here